In [23]:
# LIST
# 1
num = [11,24,33,48,56]
print(num)
#2
num.append(34)
num.append(44)
num.append(94)
print(num)
#3
for i in num:
   print(i)

[11, 24, 33, 48, 56]
[11, 24, 33, 48, 56, 34, 44, 94]
11
24
33
48
56
34
44
94

In [39]:
# Dictionary
person = {
     "Name":"John",
     "Age": 25,
     "Address":"New York"
}
print(person)
person["phone"] ="1234567890" 
print(person)

{'Name': 'John', 'Age': 25, 'Address': 'New York'}
{'Name': 'John', 'Age': 25, 'Address': 'New York', 'phone': '1234567890'}

In [45]:
# Set
set = {1, 2, 3, 4, 5}
print(set)
set.add(6)
print(set)
set.remove(3)
print(set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [51]:
# Tuple
tuple = (1,2,3,4)
print(tuple)
print(len(tuple))

(1, 2, 3, 4)
4